.popup {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  visibility: hidden;
  opacity: 0;
  transition: all .3s linear;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  position: relative;
  background-color: #202020;
  width: 100%;
  max-width: 430px;
  align-self: center;
  border-radius: 10px;
}

.form__container {
  padding: 0;
  border: none;
  justify-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  margin-right:  32px;
}

.form__close-button {
  background: none;
  border: none;
  width: 32px;
  align-self: flex-end;
  margin-top: 16px;
}

.form__close-button:hover {
  cursor: pointer;
}

.form__close-icon:hover {
  animation: rotationIcon 2s linear 1;
}

.form__title {
  color: white;
  font-size: 30px;
  text-align: center;
}

.form__description {
  color: white;
  margin-top: 16px;
}

.form__button {
  margin-top: 40px;
  margin-bottom: 32px;
  padding: 15px 20px;
  border: none;
  border-radius: 24px;
  background: white;
  font-size: 20px;
  color: black;
  opacity: 1;
}

.form__button:hover {
  cursor: pointer;
  opacity: .5;
}

.form__input {
  margin-top: 5px;
  border: none;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

@keyframes rotationIcon {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(180deg);
  }
} 